.container {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  margin: 3rem 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.logo p {
  font-weight: 600;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu p {
  padding: 0.5rem 1rem;
}

.button {
  border: 2px solid white;
  padding: 0.5rem 1rem;
}

.logo:hover {
  cursor: pointer;
}
.menu p:hover,
.button:hover {
  cursor: pointer;
  background-color: var(--color-gray);
}
