:root {
  --color-primary: #e3b748;
  --color-gray: #606060;
  --color-darkgray: #2e2e2e;
  --color-bg: #1d1d1d;
  --color-black: #111111;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  /* --webkit-font-smoothing: antialiased; */
  background-color: var(--color-bg);
  color: var(--color-white);
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 
#root,
#__next {
  isolation: isolate;
} */

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

/* .swiper-slide {
  width: auto !important;
} */
